@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Criado por: @ViewData["Created"]</p>

<address>
    <strong>More information: </strong> <a href="github.com/wsribeiro">Source of this project.</a>
</address>
